<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Let's party</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  
</head>

<body>
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/images/balloon.jpeg" width="30" height="120">
        </a>
    
        <a role="button" class="navbar-burger" id ="burger" data-target="navbarBasicExample">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/Cakes" >
                Cakes
              </a>
              <a class="navbar-item" href="/Games">
                Games
              </a>
              <a class="navbar-item" href="/Themes">
                Themes
              </a>
            
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{#if logged_in}}
              {{!-- <a class="button is-light" href="/profile">
                <strong>Profile</strong>
              </a> --}}
              <a class="button is-light" id="logout">
                Log out
              </a>
              {{else}}
              <a class="button is-primary" href="/signup">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login">
                Log in
              </a>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-link">
      <div class="hero-body">
        <p class="title">
          <a href="/">Let's Party!</a>
        </p>
        <p class="subtitle">
          A party planning blog
        </p>
      </div>
    </section>

  </header>

  <main>
    {{{ body }}}
  </main>  

  {{#if logged_in}}
  <script src = "/js/logout.js"></script>
  {{/if}}

  <script src = "/js/main.js"></script>

  <script src="https://kit.fontawesome.com/f0e7f0fe89.js" crossorigin="anonymous"></script>
</body>



</html>