
<div class="columns">
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/Cakes">
            <img src="./images/Rainbow-cake-1.png" alt="Cake image">
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Cakes</p>
            <p class="subtitle is-6">Choose to view more cakes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/Games">
          <img src="./images/pinata-hanging.jpeg" alt="Game image">
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Games</p>
            <p class="subtitle is-6">Choose to view more games</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <a href="/Themes">
            <img src="./images/minion-theme.jpeg" alt="Party-Theme-image">
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Themes</p>
            <p class="subtitle is-6">Choose to view more Themes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

