<div class="background_image">
  <h2>Sign up here!</h2>

  <form class="form signup-form">
    <div class="form-group margin-bottom">
      <label for="name-signup">name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group margin-bottom">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group margin-bottom">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button class="button" type="submit">signup</button>
      <a class="center" href="/login">login</a>
    </div>
  </form>

</div>

<script src="./js/signup.js"></script>
